{% block estilos %}
<link rel="stylesheet" href="/static/css_nosso/site.css"/>
<link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
<script src="/static/js_nosso/nosso-javascript.js" defer></script>
{% endblock %}

<div class="nosso-css">
    <h1>Suas credenciais estão incorretas!</h1>
</div>

<div class="nossa-img">
    <img src="https://www.flaticon.com/svg/static/icons/svg/595/595067.svg" alt="erro credenciais">
</div>


<a class="botao-voltar" href="/">
    <img src="https://www.flaticon.com/svg/static/icons/svg/892/892650.svg" width="60" height="60" class="d-inline-block align-top" alt="" loading="lazy">
  </a>
  <p class="botao-voltar">Voltar</p>